*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}
header{
    background-color: rgba(25, 25, 112, 0.715);
    height: 120px;
    color: white;
    width: 100%;
    
}
.navbar{ 
    height: 10%;
    width:100%;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:0px;
    left:0px;
    align-items: center;
    
    opacity: 0.8;
    color: white;

    
}
.navbar a{
    color: white;
}
.navbar .logo{
    position: absolute;
    left: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
    margin-left: -12px;
    
    width: 10%;
    opacity: 0.5;
    
    background-color: #1919707b;
}
.navbar .listes{
    margin-right: 200px;
    margin-left: 100px;
    font-size: 1.6rem;
}


.navbar .listes ul{
    display: flex;
    justify-content: space-between;
    color: white;
    
    
}
.navbar .listes ul li{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.5rem;
    color: red;
    margin: 5px;
    
}
.navbar .login{
    display: flex;
    justify-content: space-between;
    margin: 0 65px;
    width: 15%;
    
}
.navbar .login button{
    background-color: orangered;
    border-radius: 12%;
    width: 500px;
    height: 50%;
    margin: 0 60px;
}
.login a {
    text-decoration:underline;
}
nav .navbar2{ 
    position: relative;
    width:100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    top: auto;
    left: 1px;
   align-items: center;
  
    opacity: 0.8;
    
    }
  
.navbar2 .listes2 ul{

    
    font-size: 1.2rem;
    color: blue;
    display: flex;
    
    
    margin: 0 10px;
    
    
    
}
nav.navbar2 .listes2 ul li{
    display: flex;
    
    justify-content: space-between;
     padding: 20px;
     word-spacing: 10px;
}
.principale{
    width: 60%;
    height: 110vh;
    border: 1px solid  rgba(25, 25, 112, 0.715);;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
     padding: 0px ;
}

main .placement h1{
    position: absolute;
    left: 0;
}
main .placement h2{
    position: absolute;
    top: 50px;
}
main .p1{
    position: absolute;
    top: 30%;
    right: 50%;
    height: 30%;
}
main .bouttons{
    position: absolute;
    top: 100px;
    left: 1px;
    color: blue;
    width: 60%;
}
article .sideright{
    width: 40%;
    height: 75%;
   border: 1px solid  rgba(25, 25, 112, 0.715);; 
    
    position:absolute;
    top: 150px;
    right: 10px;


}
img{
    box-shadow:10px 10px 5px  ;
    width: 90%;
    
} 
.bouttons{
    display: flex;
}
 .bouttons .btn1{
    width: 10%;
    color: blue;
    border-radius: 20%;
    margin: 0 20px;
    height: 100%;
}
.bouttons .btn2{
    
    color: blue;
    border-radius: 10%;
    margin: 0 20px;
    height: 100%;
}
.bouttons .btn3{
    
    color: blue;
    border-radius: 10%;
    margin: 0 10px;
    height: 10%;
}.bouttons .btn4{
    
    color: blue;
    border-radius: 10%;
    margin: 0 20px;
    height: 15%;
    
}.bouttons .btn5{
   
    color: blue;
    border-radius: 16%;
    margin: 0 10px;
    height: 20%;
}
article .textimg{
    display: flex;
    flex-direction: column;
 justify-content: space-between;
 align-items: center;
}
main .p1{
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
main .pos1{
    position: absolute;
    width: 30%;
    top: 20%;
    left: 5%;
    
}
main .pos2{
    position: absolute;
    width: 50%;
    left: 1%;
    top: 25%;
    word-break:inherit;
    font-size: 1.2rem;
    clear: both;
}
span{color: blue;}
article div .seeunder{
    border: 0.5px solid bleue;
    width: 70%;
}



